<article class="post">
  <div class="container">
    <div class="row">
      <div class="title col">
        <a href="/post/{{id}}" target="_blank" class="post-title">{{title}}</a>
      </div>
      <div class="meta col">
        Posted by
        {{user.username}}
        on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}" class="comments-link">{{comments.length}}
          {{format_plural "comment" comments.length}}</a>
      </div>
    </div>
  </div>
  <div class="text-blk">
    {{post_text}}
  </div>
</article>